<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>JOB</b>PORTAL</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <div class="alert alert-danger" *ngIf="loginError">
      {{loginError}}
   </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group has-feedback">

        <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email" required 
          class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
            <div *ngIf="email.errors">
                email is required.
            </div>
        </div>
        
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
            <div *ngIf="password.errors">
              Password is required.
            </div>
        </div>
        
      </div>
      <div class="service-error" *ngIf="error">
          <h1>{{error.errorTitle}}</h1>
          <h3>{{error.errorDesc}}</h3>
       </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
      
        <div class="col-xs-4">
           <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        
      </div>
    </form>
   <!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="Email" required 
          pattern="[a-zA-Z0-9]{3,}[@]{1}[a-zA-Z]{3,}[.]{1}[a-zA-Z0-9]{2,}"
          #email="ngModel" [(ngModel)]="logForm.email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="alert alert-danger" *ngIf="email.errors?.pattern && (email.touched || email.dirty)">
            Invalid Email
        </div>
        <div *ngIf="email.errors?.required && (email.touched || email.dirty)"  class="alert alert-danger">
            This Field Is Required
        </div>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,10}$"
           #password="ngModel" [(ngModel)]="logForm.password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        
         <div class="alert alert-danger" *ngIf="password.errors?.pattern">
            Password Contain At Least 2 Uppercase , 1 Lowwer Case , 2 Digits , 2 Special Char
        </div>
      </div>
     
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
      
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        
      </div>
    </form>
  -->

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->